<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

	<title>Jon &amp; Katie's Wedding Website!</title>
	<meta charset=utf-8 />

	<link rel="stylesheet" type="text/css" href="css/main.css" media="screen, projection" />
</head>

  {% block body %}
  {% endblock %}

	<div class="section footer">
		<div class="contents">

			<div class="column first">
				<h3>Navigation</h3>
				<ul>
					<li><a href="index.html" title="">Welcome</a></li>
					<li><a href="the-day.html" title="">The Day</a></li>
					<li><a href="people.html" title="">People</a></li>
					<li><a href="accommodation.html" title="">Accommodation</a></li>
					<li><a href="gifts.html" title="">Gifts</a></li>
					<li><a href="rsvp.html" title="">RSVP</a></li>
				</ul>
			</div>
			<div class="column">
				<h3>Jon <span class="amp">&amp;</span> Katie elsewhere</h3>
				<ul>
					<li><a href="http://flickr.com/photos/roobottom">Jon's Flickr Photos</a></li>
					<li><a href="http://www.flickr.com/photos/katiesellwood/">Katie's Flickr Photos</a></li>
					<li><a href="http://twitter.com/roobottom">Jon on Twitter</a></li>
				</ul>
			</div>
			<div class="column last double">
				<h3>Who the heck are Jon <span class="amp">&amp;</span> Katie?</h3>
				<p><img src="img/JonAndKatieSmall.png" alt="Jon &amp; Katie"/><em>We are just a couple of people rolling along on the wheel of life, who one day decided to get married. This site is for our Family and Friends who are involved in our day.</em></p>
				<p><em>Jon is a <strong>bit</strong> of a web design geek, and Katie splits her time between being an Occupational Therapy Assistant, 'larging it' at University and wondering when Jon is going to be less of a geek.</em></p>
			</div>

		</div>
	</div>


</body>
</html>
